<% if(show) { %>
<div id="_msg_box_<%=id%>" class="message-box">
<% } else { %>
<div id="_msg_box_<%=id%>" class="message-box" style="display: none">
<% } %>
    <h3 class="title"><%=title%></h3>
    <pre class="body"><%=msg%></pre>
</div>
<script>
    MessageBox = function (msg, id) {
        id = id || '';
        $("#_msg_box_" + id + ".message-box").show();
        $("#_msg_box_" + id + ".message-box .body").text(msg);
    }
    MessageBoxAppend = function (msg, id) {
        id = id || '';
        $("#_msg_box_" + id + ".message-box").show();
        $("#_msg_box_" + id + ".message-box .body").text($("#_msg_box_" + id + ".message-box .body").text()+ "\n" + msg);
    }
</script>
