<% layout('layout/_layout') -%>

<%- partial('layout/_msgbox', {title: '消息', show: true, id: '', msg: '正在加载脚本中...'}) %>
<script src="/api/tick?count=-1"></script>
<script>
    $(function () {
        MessageBoxAppend("脚本加载完毕");
    })
    function errorJs() {
        for(var i=0; i< 3; i++) {
            setTimeout(function() {
                MessageBoxAppend("正在执行错误脚本...");
                var rand = new Date().getTime() % 5;
                switch(rand) {
                    case 0:
                        test(); break;
                    case 1:
                        abcd.abcd.xxxxx.xxx; break;
                    case 2:
                        throw "this is a excaption";
                    default:
                    throw "excaption " + rand;
                }
                MessageBoxAppend("脚本执行成功");
            }, i*1000)
        }
    }
    errorJs();
</script>

<script>
    $(function () {
        ReqBox.getMetricMetaList({
            success: function (resp) {
                var list = JSON.parse(resp);
                for(var i=0; i < list.length; i++) {
                    var item = list[i];
                    (function(item) {
                        var html = $('            <tr>\n' +
                                '                <td>' + $("<div />").text(item.name).html() + '</td>\n' +
                                '                <td><button class="btn btn-default btn-sm show-tags">详细</button></td>\n' +
                                '                <td><button class="btn btn-default btn-sm show-fields">详细</button></td>\n' +
                                '                <th>' + $("<div />").text(item.desc).html() + '</th>\n' +
                                '                <th><a class="btn btn-default btn-sm btn-edit" href="/metric_meta?id=' + item.id + '">修改</a></th>\n' +
                                '            </tr>');
                        html.find(".show-tags").click(function () {
                            var tags = JSON.parse(item.tags);
                            var body = JSON.stringify(tags, null, "    ");
                            $("#msgDlg .modal-title").text(item.name + " 的 Tags");
                            $("#msgDlg .modal-body pre").html(body);
                            $("#msgDlg").modal("show");
                        });
                        html.find(".show-fields").click(function () {
                            var fields = JSON.parse(item.fields);
                            var body = JSON.stringify(fields, null, "    ");
                            $("#msgDlg .modal-title").text(item.name + " 的 Fields");
                            $("#msgDlg .modal-body pre").html(body);
                            $("#msgDlg").modal("show");
                        });
                        $("#metricBox tbody").append(html);
                    })(item);
                }
            }
        });
    });
</script>
<div>
    <h3>Metric元数据列表 &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-sm" href="/metric_meta">添加</a></h3>
    <table id="metricBox" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th>Fields</th>
            <th>描述</th>
            <th style="width: 65px;">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal fade" id="msgDlg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">标题</h4>
            </div>
            <div class="modal-body">
                <pre></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        ReqBox.request("/mysql/users", {
            success: function (resp) {
                var list = JSON.parse(resp);
                for(var i=0; i < list.length; i++) {
                    var item = list[i];
                    (function(item) {
                        var html = $('            <tr>\n' +
                                '                <td>' + $("<div />").text(item).html() + '</td>\n' +
                                '            </tr>');
                        $("#userList tbody").append(html);
                    })(item);
                }
            }
        });
        function getRedis() {
            for(var i=0; i<2; i++) {
                setTimeout(function() {
                    ReqBox.request("/redis/get?key=test-key", {
                    })
                }, i*1000);
            }
        }
        getRedis();
    });
</script>
<div>
    <h3>查询数据库用户列表</h3>
    <table id="userList" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(function () {
        function requestFiles() {
            for(var i=0; i<1; i++) {
                setTimeout(function() {
                    var size = Math.ceil(Math.random()*1024*1024);
                    ReqBox.request("/file/write?size="+size, {
                    })
                    ReqBox.request("/file/read", {
                    })
                }, i*1000);
            }
        }
        requestFiles();
        function requestDubbo() {
            for(var i=0; i<2; i++) {
                var list = ["info", "exception", "error"];
                setTimeout(function() {
                    var size = Math.ceil(Math.random()*list.length);
                    ReqBox.request("/dubbo/"+list[size % list.length], {
                    })
                }, i*1000);
            }
        }
        requestDubbo();
        function requestHttp() {
            for(var i=0; i<1; i++) {
                var list = ["http://www.baidu.com", "http://www.qq.com", "http://www.taobao.com"];
                setTimeout(function() {
                    var idx = Math.ceil(Math.random()*list.length);
                    ReqBox.request("/http/get?url="+list[idx % list.length], {
                    })
                }, i*1000);
            }
        }
        requestHttp();
        function requestDubbo() {
            for(var i=0; i<1; i++) {
                var list = ["/dubbo/mysql/users", "/dubbo/redis/get?key=test-key", "/dubbo/http/get?url=http://www.baidu.com"];
                setTimeout(function() {
                    var idx = Math.ceil(Math.random()*list.length);
                    ReqBox.request(list[idx % list.length], {
                    })
                }, i*1000);
            }
        }
        requestDubbo();
    });
</script>